<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-profile-heading" jhiTranslate="lawerApp.userProfile.home.createOrEditLabel">Create or edit a User Profile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userProfile.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userProfile.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lawerApp.userProfile.avatar" for="field_avatar">Avatar</label>
                    <div>
                        <img [src]="'data:' + userProfile.avatarContentType + ';base64,' + userProfile.avatar" style="max-height: 100px;" *ngIf="userProfile.avatar" alt="userProfile image"/>
                        <div *ngIf="userProfile.avatar" class="form-text text-danger clearfix">
                            <span class="pull-left">{{userProfile.avatarContentType}}, {{byteSize(userProfile.avatar)}}</span>
                            <button type="button" (click)="clearInputImage('avatar', 'avatarContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_avatar" (change)="setFileData($event, userProfile, 'avatar', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="avatar" id="field_avatar"
                        [(ngModel)]="userProfile.avatar" />
                    <input type="hidden" class="form-control" name="avatarContentType" id="field_avatarContentType"
                        [(ngModel)]="userProfile.avatarContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lawerApp.userProfile.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="userProfile.address" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lawerApp.userProfile.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userProfile.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === userProfile.user?.id ? userProfile.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.email}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
