<div>
    <h2 id="page-heading">
        <span jhiTranslate="lawerApp.userProfile.home.title">User Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-profile" [routerLink]="['/user-profile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lawerApp.userProfile.home.createLabel">
            Create new User Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userProfiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lawerApp.userProfile.avatar">Avatar</span></th>
            <th><span jhiTranslate="lawerApp.userProfile.address">Address</span></th>
            <th><span jhiTranslate="lawerApp.userProfile.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userProfile of userProfiles ;trackBy: trackId">
                <td><a [routerLink]="['/user-profile', userProfile.id, 'view' ]">{{userProfile.id}}</a></td>
                <td>
                    <a *ngIf="userProfile.avatar" (click)="openFile(userProfile.avatarContentType, userProfile.avatar)">
                        <img [src]="'data:' + userProfile.avatarContentType + ';base64,' + userProfile.avatar" style="max-height: 30px;" alt="userProfile image"/>
                    </a>
                    <span *ngIf="userProfile.avatar">{{userProfile.avatarContentType}}, {{byteSize(userProfile.avatar)}}</span>
                </td>
                <td>{{userProfile.address}}</td>
                <td>
                    {{userProfile.user?.email}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-profile', userProfile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-profile', userProfile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-profile/'+ userProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
